# SPDX-License-Identifier: GPL-2.0-only
#
# STMicroelectronics VD628X spi kernel driver for flicker detection.
#

config VD628x
	tristate "STMicroelectronics VD6283 flicker detection"
	depends on SPI_MASTER

	help
	  If your system has a slave-capable SPI controller, you can enable slave protocol handlers.
